.navbar {
    background-color: #0FA958;

}

/*.header_img{*/

/*    width: 100px;*/
/*    height: 100px;*/
/*}*/


#login {
    background-color: #FFC700;
    margin: 10px;
    border-radius: 20px;
    border: 2px solid;



}

#logintext{
    color: black;

}

#signup {
    background-color: #FFC700;
    margin: 10px;
    border-radius: 20px;
    border: 2px solid;

}

#signuptext{
    color: black;

}

#list {
    padding-top: 40px;


}


header {
    border-bottom: 1px solid;
}

